<header class="site-header">
  <div id="header" style="display: flex; justify-content: center; align-items: center; height: 60px;">
    <nav>
      <ul style="list-style-type: none; margin: 0; padding: 0; display: flex; gap: 20px;">
        <li class="fork"><a href="{{site.baseurl}}/" style="text-decoration: none; color: Pink; padding: 8px 12px; border-radius: 4px; transition: background-color 0.3s;">Home</a></li>
        <li class="fork"><a href="{{site.baseurl}}/csa" style="text-decoration: none; color: pink; padding: 8px 12px; border-radius: 4px; transition: background-color 0.3s;">Lab Notebooks</a></li>
      </ul>
    </nav>
  </div><!-- end header -->
</header>


